﻿@model travel_agency.Models.ViewModelItinerario;
@using (Html.BeginForm(ViewBag.Status != 0 ? "Modified" : "Insert", "Itinerario"))
{
@Html.AntiForgeryToken()
<div class="docs-example-infocif">
    <div class="card border-info">
        <div class="card-header">
            <i class="fa fa-th-list"> </i> Información sobre los pasajeros
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn btn-primary submit" type="button" onclick="buscarPasajero()"><i class="fa fa-search"></i></button>
                        </div>
                        <input maxlength="8" type="text" class="form-control cedula col-sm-4 validate numeric" placeholder="Cedula de Pasajero" id="iCedula">
                        <input type="text" class="form-control col-sm-4 pItinerario validate" id="iNombre" placeholder="Nombres" readonly>
                        <input type="text" class="form-control col-sm-4 pItinerario validate" id="iApellido" placeholder="Apelidos" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn btn-primary submit" type="button" onclick="buscarVuelo()"><i class="fa fa-search"></i></button>
                        </div>
                        <input maxlength="4" type="text" class="form-control col-sm-3 validate numeric" id="vCodigo" placeholder="Codigo de vuelo">
                        <input type="text" class="form-control col-sm-3 vItineratio validate" id="vRuta" placeholder="Origen - Destino" readonly>
                        <input type="text" class="form-control col-sm-3 vItineratio validate" id="vPrecio" placeholder="Precio" readonly>
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input maxlength="3" type="text" class="form-control col-sm-3 vItineratio validate numeric" name="cantidad" id="vDisponibilidad" placeholder="Asientos">
                        <span class="input-group-text" id="basic-addon1">Asientos</span>
                    </div>
                </div>
                <input type="hidden" id="iId" name="idPasajeros">
                <input type="hidden" id="vId" name="idVuelos">
                <input type="hidden" id="vDisponibilidadHidden">
                <button type="submit" class="btn btn-primary float-right submit" onclick="validationFiels()">Guardar</button>
                @*<button type="button" class="btn btn-primary float-right submit" onclick="validationFiels()">Guardar</button>*@
            </form>
        </div>
    </div>
</div>
}
@section scripts{
<script type="text/javascript">
    
    //Validación solo números
    $('.numeric').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g,'');
    });

    $('.letter').on('input', function () {
        this.value = this.value.replace(/[^a-záéíóúñA-ZÁÉÍÓÚÑ ]/g,'');
    });

    maxCantidad();

    function validationFiels() {
        Validar = $(".validate");
        $("form").submit(function (e) {
            var x = false;
            Validar.each(function () {
                if ($(this).val() == "" || $(this).val() == null) {
                    x = true;
                    $(this).css("border", "1px solid red");
                } else {
                    $(this).css("border", "1px solid lightgreen");
                }
            });
            if (x) {
                e.preventDefault();
            } else {
                UpdateCantidad();
            }
        });
    }
</script>
}


