﻿@model travel_agency.Models.ViewModelItinerario;

<div class="docs-example-infocif">
    <div class="card border-info">
        <div class="card-header">
            <i class="fa fa-th-list"> </i> Información sobre Itinerario
            <button id="btn_ingresar" type="button" class="btn btn-info float-right update" title="Crear" onclick="newItinerario()"><b>Registrar</b></button>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Id Pasajero</th>
                        <th>Id Vuelo</th>
                        <th>cantidad</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<ViewModelItinerario>)ViewData["listaitinerario"])
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.id) </td>
                            <td> @Html.DisplayFor(modelItem => item.idPasajeros) </td>
                            <td> @Html.DisplayFor(modelItem => item.idVuelos) </td>
                            <td> @Html.DisplayFor(modelItem => item.cantidad) </td>
                            <td> <button id="btn_Edit" type="button" class="btn btn-info btn-action update" title="Actualizar"><i class="fa fa-edit"></i></button> </td>
                            <td> <button id="btn_Delete" type="button" class="btn btn-danger btn-action update" title="eliminar" @*onclick="getId(this)*@><i class="fa fa-times"></i></button> </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link text-info" href='@Url.Action("Sincronizadas", "Empresa")/?tipo=@((string)ViewData["tipo"])&page=@((int)ViewData["page"]-1)&size=@ViewData["size"]'><< Ant</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link text-info" href='@Url.Action("Sincronizadas", "Empresa")/?tipo=@((string)ViewData["tipo"])&page=@((int)ViewData["page"]+1)&size=@ViewData["size"]'>Sig >></a>
                        </li>
                    </ul>
                </nav>*@
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

    $(".btn-action").click(function () {
        EnableUpdate();
        var filaactual = $(this).closest("tr"); // obtiene la fila actual
        var valor = filaactual.find("td:eq(0)").text(); 
        var cAsientos = filaactual.find("td:eq(3)").text(); 
        var btnId = this.id.split("_");

        if (btnId[1] == "Edit") {
            window.location.href = "@Url.Action("Edit", "Itinerario")?id=" + valor;
        } else {
            cAsientos
            window.location.href = "@Url.Action("Delete", "Itinerario")?id=" + valor;
        }
    });

    function newItinerario() {
        window.location.href = "@Url.Action("Edit", "Itinerario")";
    }

    </script>
}

