﻿@model travel_agency.Models.ViewModelViajes;

@using (Html.BeginForm(ViewBag.Status != 0 ? "Modified" : "Insert", "Vuelos"))
{
    @Html.AntiForgeryToken()
    <div class="docs-example-infocif">
        <div class="card border-info">
            <div class="card-header">
                <i class="fa fa-th-list"> </i> Información sobre los vuelos
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="inputCodigo">Código</label>
                        <input requerido maxlength="4" type="text" class="form-control numeric validate" id="codigo" name="codigo" value="@Html.DisplayFor(m => m.codigo)">
                    </div>
                    <div class="form-group">
                        <label for="inputOrigen">Origen</label>
                        <input requerido maxlength="10" type="text" class="form-control letter validate" id="origen" name="origen" value="@Html.DisplayFor(m => m.origen)">
                    </div>
                    <div class="form-group">
                        <label for="inputDestino">Destino</label>
                        <input requerido maxlength="10" type="text" class="form-control letter validate" id="destino" name="destino" value="@Html.DisplayFor(m => m.destino)">
                    </div>
                    <div class="form-group">
                        <label for="inputDisponibilidad">Disponibilidad</label>
                        <input requerido maxlength="3" type="text" class="form-control numeric validate" id="disponibilidad" name="disponibilidad" value="@Html.DisplayFor(m => m.disponibilidad)">
                    </div>
                    <div class="form-group">
                        <label for="inputPrecio">Precio</label>
                        <input requerido maxlength="50" type="text" class="form-control validate precio" id="precio" name="precio" value="@Html.DisplayFor(m => m.precio)">
                    </div>
                    <input type="hidden" class="form-control" id="id" name="id" value="@Html.DisplayFor(m => m.id)">
                    <button type="submit" class="btn btn-primary float-right" onclick="validationFiels()">Guardar</button>
                </form>
            </div>
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">

        //Validación solo números
        $('.numeric').on('input', function () {
            this.value = this.value.replace(/[^0-9]/g,'');
        });

        $('.letter').on('input', function () {
            this.value = this.value.replace(/[^a-záéíóúñA-ZÁÉÍÓÚÑ ]/g,'');
        });

        //Validación solo números
        $('.precio').on('input', function () {
            this.value = this.value.replace(/[^0-9,]/g,'');
        });

        function validationFiels() {
            Validar = $(".validate");
            $("form").submit(function (e) {
                var x = false;
                Validar.each(function () {
                    if ($(this).val() == "" || $(this).val() == null) {
                        x = true;
                        $(this).css("border", "1px solid red");
                    } else {
                        $(this).css("border", "1px solid lightgreen");
                    }
                });
                if (x) {
                    e.preventDefault();
                }
            });
        }

    </script>
}

