﻿@model travel_agency.Models.ViewModelViajes;

<div class="docs-example-infocif">
    <div class="card border-info">
        <div class="card-header">
            <i class="fa fa-th-list"> </i> Información sobre los viajes
            <button id="btn_ingresar" type="button" class="btn btn-info float-right update" title="Crear" onclick="newVuelos()"><b>Registrar</b></button>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Código</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Disponibilidad</th>
                        <th>Precio</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<ViewModelViajes>)ViewData["listavuelos"])
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.id) </td>
                            <td> @Html.DisplayFor(modelItem => item.codigo) </td>
                            <td> @Html.DisplayFor(modelItem => item.origen) </td>
                            <td> @Html.DisplayFor(modelItem => item.destino) </td>
                            <td> @Html.DisplayFor(modelItem => item.disponibilidad) </td>
                            <td> @Html.DisplayFor(modelItem => item.precio) </td>
                            <td> <button id="btn_Edit" type="button" class="btn btn-info btn-action update" title="Actualizar"><i class="fa fa-edit"></i></button> </td>
                            <td> <button id="btn_Delete" type="button" class="btn btn-danger btn-action update" title="eliminar" @*onclick="getId(this)*@><i class="fa fa-times"></i></button> </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link text-info" href='@Url.Action("Sincronizadas", "Empresa")/?tipo=@((string)ViewData["tipo"])&page=@((int)ViewData["page"]-1)&size=@ViewData["size"]'><< Ant</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link text-info" href='@Url.Action("Sincronizadas", "Empresa")/?tipo=@((string)ViewData["tipo"])&page=@((int)ViewData["page"]+1)&size=@ViewData["size"]'>Sig >></a>
                        </li>
                    </ul>
                </nav>*@
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

    @*function getId(datosSeleccionado) {
        EnableUpdate();
        var valor;
        //alert(vPColumna);

        var result = datosSeleccionado.id.split("_");
        if (result[1] == "Edit") {
            window.location.href = "@Url.Action("Edit", "Pasajeros")?cedula=" + vPColumna;
        } else {
            window.location.href = "@Url.Action("Delete", "Pasajeros")?cedula=" + vPColumna;
        }
    }*@

    $(".btn-action").click(function () {
        EnableUpdate();
        var filaactual = $(this).closest("tr"); // obtiene la fila actual
        var valor = filaactual.find("td:eq(0)").text(); //
        var btnId = this.id.split("_");

        if (btnId[1] == "Edit") {
            window.location.href = "@Url.Action("Edit", "Vuelos")?id=" + valor;
        } else {
            window.location.href = "@Url.Action("Delete", "Vuelos")?id=" + valor;
        }
    });

    function newVuelos() {
        window.location.href = "@Url.Action("Edit", "Vuelos")";
    }

    </script>
}