﻿/* Muestra el alert al pie de la página 
-------------------------------------------------- */
.alert-bottom-infocif {
    position: fixed;
    z-index: 9999;
    bottom: 5px;
    left: 2%;
    width: 96%;
}

.docs-example-infocif {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}

.bg-login-infocif {
    background-color: #e4e5e6 !important;
}

.break-word {
    -ms-word-break: break-all;
    word-break: break-all;
    // Non standard for webkit word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
