﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Travel Agency</title>
    <link rel="stylesheet" href="~/lib/coreui/dist/css/coreui.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="app header-fixed sidebar-fixed sidebar-lg-show sidebar-show">
    <header class="app-header navbar position-fixed">
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="" src="https://solucionesetech.com/wp-content/uploads/2018/11/logo44.png" alt="ET Logo" height="40"/>
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-controller="Pasajeros" asp-action="Pasajeros" class="nav-link"> Pasajeros </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Vuelos" asp-action="Vuelos" class="nav-link"> Viajes </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Itinerario" asp-action="Itinerario" class="nav-link"> Itinerario </a>
                    </li>
                </ul>
            </nav>
            <a asp-controller="Login" asp-action="Logout" class="nav-link active">
                <i class="fa fa-sign-out"></i> LogOut
            </a>
        </div>
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>
    <!-- Inicio Divs Alert -->
    <div class="alert alert-success alert-bottom-infocif" style="display: none;">
        @*<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <i class="fa fa-check"> </i>*@
        <span id="AlertSuccessMessage"></span>
    </div>
    <div class="alert alert-danger alert-bottom-infocif" style="display: none;">
        @*<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <i class="fa fa-times"> </i>*@
        <span id="AlertFailureMessage"></span>
    </div>
    <!-- Fin Divs Alert -->
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/coreui/dist/js/coreui.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

