﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>buscador_herramienta</title>
    <link rel="stylesheet" href="~/lib/coreui/dist/css/coreui.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="app">
    <div>
        @RenderBody()
    </div>
    <!-- Inicio Divs Alert -->
    <div class="alert alert-danger alert-bottom-infocif" style="display: none;">
        @*<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <i class="fa fa-times"> </i>*@
        <span id="AlertFailureMessage"></span>
    </div>
    <!-- Fin Divs Alert -->
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/coreui/dist/js/coreui.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>