﻿@model travel_agency.Models.ViewModelPasajeros;

@using (Html.BeginForm(ViewBag.Status != 0 ? "Modified" : "Insert", "Pasajeros"))
{
    @Html.AntiForgeryToken()
    <div class="docs-example-infocif">
        <div class="card border-info">
            <div class="card-header">
                <i class="fa fa-th-list"> </i> Información sobre los pasajeros
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="inputCedula">Cedula</label>
                        <input requerido maxlength="9" type="text" class="form-control numeric validate" id="cedula" name="cedula" value="@Html.DisplayFor(m => m.cedula)">
                    </div>
                    <div class="form-group">
                        <label for="inputNombre">Nombre</label>
                        <input requerido maxlength="25" type="text" class="form-control letter validate" id="nombre" name="nombre" value="@Html.DisplayFor(m => m.nombre)">
                    </div>
                    <div class="form-group">
                        <label for="inputApellido">Apellido</label>
                        <input requerido maxlength="25" type="text" class="form-control letter validate" id="apellido" name="apellido" value="@Html.DisplayFor(m => m.apellido)">
                    </div>
                    <div class="form-group">
                        <label for="inputTelefono">Teléfono</label>
                        <input requerido maxlength="11" type="text" class="form-control numeric validate" id="telefono" name="telefono" value="@Html.DisplayFor(m => m.telefono)">
                    </div>
                    <div class="form-group">
                        <label for="inputDireccion">Dirección</label>
                        <input requerido maxlength="50" type="text" class="form-control validate" id="direccion" name="direccion" value="@Html.DisplayFor(m => m.direccion)">
                    </div>
                    <input type="hidden" class="form-control" id="id" name="id" value="@Html.DisplayFor(m => m.id)">
                    <button type="submit" class="btn btn-primary float-right" onclick="validationFiels()">Guardar</button>
                </form>
            </div>
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">

        //Validación solo números
        $('.numeric').on('input', function () { 
            this.value = this.value.replace(/[^0-9]/g,'');
        });

        $('.letter').on('input', function () { 
            this.value = this.value.replace(/[^a-záéíóúñA-ZÁÉÍÓÚÑ ]/g,'');
        });

        function validationFiels() {
            Validar = $(".validate");
            $("form").submit(function (e) {
                var x = false;
                Validar.each(function () {
                    if ($(this).val() == "" || $(this).val() == null) {
                        x = true;
                        $(this).css("border", "1px solid red");
                    } else {
                        $(this).css("border", "1px solid lightgreen");
                    }
                });
                if (x) {
                    e.preventDefault();
                }
            });
        }

    </script>
}


