﻿@model travel_agency.Models.ViewModelPasajeros;

<div class="docs-example-infocif">
    <div class="card border-info">
        <div class="card-header">
            <i class="fa fa-th-list"> </i> Información sobre los pasajeros
            <button id="btn_ingresar" type="button" class="btn btn-info float-right update" title="Crear" onclick="newPasajero()"><b>Registrar</b></button>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<ViewModelPasajeros>)ViewData["listapasajeros"])
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.id) </td>
                            <td> @Html.DisplayFor(modelItem => item.cedula) </td>
                            <td> @Html.DisplayFor(modelItem => item.nombre) </td>
                            <td> @Html.DisplayFor(modelItem => item.apellido) </td>
                            <td> @Html.DisplayFor(modelItem => item.telefono) </td>
                            <td> @Html.DisplayFor(modelItem => item.direccion) </td>
                            <td> <button id="btn_Edit" type="button" class="btn btn-info btn-action update" title="Actualizar" @*onclick="getId(this)*@"><i class="fa fa-edit"></i></button> </td>
                            <td> <button id="btn_Delete" type="button" class="btn btn-danger btn-action update" title="eliminar" @*onclick="getId(this)*@"><i class="fa fa-times"></i></button> </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link text-info" href='@Url.Action("Sincronizadas", "Empresa")/?tipo=@((string)ViewData["tipo"])&page=@((int)ViewData["page"]-1)&size=@ViewData["size"]'><< Ant</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-info" href='@Url.Action("Sincronizadas", "Empresa")/?tipo=@((string)ViewData["tipo"])&page=@((int)ViewData["page"]+1)&size=@ViewData["size"]'>Sig >></a>
                    </li>
                </ul>
            </nav>*@
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">

    @*function getId(datosSeleccionado) {
        EnableUpdate();
        var valor;
        //alert(vPColumna);

        var result = datosSeleccionado.id.split("_");
        if (result[1] == "Edit") {
            window.location.href = "@Url.Action("Edit", "Pasajeros")?cedula=" + vPColumna;
        } else {
            window.location.href = "@Url.Action("Delete", "Pasajeros")?cedula=" + vPColumna;
        }
    }*@

    $(".btn-action").click(function () {
        EnableUpdate();
        var filaactual = $(this).closest("tr"); // obtiene la fila actual
        var valor = filaactual.find("td:eq(0)").text(); // 
        var btnId = this.id.split("_");

        if (btnId[1] == "Edit") {
            window.location.href = "@Url.Action("Edit", "Pasajeros")?id=" + valor;
        } else {
            window.location.href = "@Url.Action("Delete", "Pasajeros")?id=" + valor;
        }
    });

    function newPasajero() {
        window.location.href = "@Url.Action("Edit", "Pasajeros")";
    }

</script>
}

