﻿@*@model buscador_herramienta.Code.Login;*@
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="app flex-row align-items-center bg-login-infocif">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card border-primary p-4">
                    <div class="card-body">
                        <h1>Login</h1>
                        <p class="text-muted">Iniciar sesión en su cuenta</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" name="Usuario" class="form-control usuario" placeholder="Usuario">
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            </div>
                            <input type="password" name="Password" class="form-control password" placeholder="Contraseña">
                        </div>
                        <button type="button" class="btn btn-primary btn-block submit" onclick="ComprobarLogin()">
                            <span class="spinner-border spinner-border-sm" hidden></span>
                            Entrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        function ComprobarLogin() {
            var usuario  = $(".usuario").val();
            var password = $(".password").val();

            DisableSubmit();

            if (!usuario || !password)
            {
                console.log("Entre en comprobacion");
                AlertFailure(" ¡Error! Debe ingresar Usuario y contraseña");
                EnableSubmit();
                return;
            }

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "@Url.Action("Login","Login")",
                cache: false,
                global: false,
                data:
                {
                    usuario: usuario,
                    password: password
                },
                success: function (data) {
                    if (data == "successful") {
                        window.location.href = '@Url.Action("Pasajeros","Pasajeros")';
                    } else {
                        AlertFailure(" ¡Error! Los datos ingresados son inválidos");
                        EnableSubmit();
                    }
                },
                error: function () {
                    AlertFailure(" Ocurrió un error al intentar iniciar sesión");
                    EnableSubmit();
                }
            });
        }

    </script>
}



